<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loginform.css">
</head>
<body>
    <div id ="container">
    <div class = "logo">
        <div class="logo_in"><a href="/"><img src="image/로고.png" alt=""></a></div>
    </div>
    <form id="log">
        <input type="email" class="login2" placeholder="이메일" required>
        <input type="text " class="login2" placeholder="비밀번호" required>
        <input type="submit" id ="submit" value = "로그인">
        <div class="flex1">
            <div>비밀번호 재설정</div><div><a href="/memberform.html">회원가입</a></div> 
        </div>
    </form>
    
    <div id ="logobox">
        <p>SNS계정으로 간편하게 회원가입</p>
        <div id="logo">
            <div class="logo1">
                <a href="#"><img src="image/페이스북로고.png" alt=""></a>
            </div>
            <div class="logo1">
                <a href="#"><img src="image/네이버로고.png" alt=""></a>
            </div>
            <div class="logo1">
                <a href="#"><img src="image/카카오톡로고.png" alt=""></a>
            </div>

        </div>
        <div class = 'pro'>
            <a>로그인 문제가 있으신가요?</a>
        </div>
    </div> 
    
    <div class="nomem">
       <a href=""> 비회원 주문 조회하기</a>
    </div>
</div>
</body>
</html>