<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>내일의책</title>
<link rel="stylesheet" href="css/reviewwrite.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</script>
</head>
<body>
    <header>
        <section class="header_section">
            <nav class="header_left">
                <h1>
                    <a href="/">내일의책</a>
                </h1>
            </nav>
            <nav class="header_right">
                
                <button id="writing_btn">올리기&nbsp;&nbsp;<i class="fa-solid fa-angle-down"></i></button>
            </nav>
        </section>
   	</header>
   	<main>
   		<form action="">
  			<div class="main-container">
    			<div class="temp-box" id="box1">
					리뷰글쓰기
    			</div>
    			<div class="temp-box" id="box2">
    				<input type="text" id="register1" placeholder="등록인 이름"/>
    				<span class="star1">
  						★★★★★
  						<span>★★★★★</span>
  						<input type="range" id="range1" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
					</span>
					<input type="text" id="title1" placeholder="제목"/>
					<textarea id="conetent1" cols="50" rows="10" placeholder="설명"></textarea>
					<input type="button" id="add1" value="책 추가하기"/>
    			</div>
    		</div>
		</form>
   	</main>
   		<footer>
      <section class="footer_section">
          <section class="footer_top">
              <span class="footer_title">내일의책</span>
              <ul class="shortcut_nav">
                  <li><a href="http://www.instagram.com" target="_blank" title="인스타그램 새창 열기"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="http://www.facebook.com" target="_blank" title="페이스북 새창 열기"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="http://www.github.com" target="_blank" title="깃허브 새창 열기"><i class="fa-brands fa-github"></i></a></li>
              </ul>
          </section>
          <section class="meta_info">
              <p>Copyrights 2022, TomorrowWillBeBetter. All Rights Reserved. </p>
              <p>Version 1.0</p>
          </section>
      </section>
	</footer>
    <script>
    var i = 1;
    var gridnum = 2;
    $(document).ready(function(){
    	$("#add1").on('click', function(){
    		add();
    	});
    });
    const drawStar = (target) => {
    	console.log(target.id);
    	var lastChar = target.id.charAt(5);
    	document.querySelector(`.star`+lastChar+` span`).style.width = `${target.value * 10}%`;
    }
    
    function add(){
    	if(i < 5){
    		$("#add"+i).hide();
        	i++;
        	gridnum++;
        	
        	var createDiv = "<div align='left' class='temp-box' id='box" + gridnum + "'>";
        	createDiv += "<input type='text' id='register" + i + "' placeholder='등록인 이름'/>";
        	createDiv += "<span class='star" + i + "'>★★★★★<span>★★★★★</span><input type='range' id='range" + i + "'oninput='drawStar(this)' value='1' step='1' min='0' max='10'></span>";
        	createDiv += "<input type='text' id='title" + i + "' placeholder='제목'/>";
        	createDiv += "<textarea id='conetent" + i + "' placeholder='설명'></textarea>";
        	createDiv += "<input type='button' id='add" + i + "' value='책 추가하기' onclick='add()'/>";
        	createDiv += "</div>";
        	
        	$(".main-container").append(createDiv);
    		
    	}
    	

    	// 여기까지 box5
    }
    </script>
</body>
</html>